<!DOCTYPE html>
<html lang="en">
  <head>
    <%= if Application.get_env(:weather_scout, :analytics) do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172069965-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-172069965-1');
      </script>
    <% end %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "The Weather Scout" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="min-h-screen bg-white">
      <div class="py-10">
        <%= render "_navigation.html", assigns %>
        <%= @inner_content %>
        <%= render "_footer.html", assigns %>
      </div>
    </div>
  </body>
</html>
