<div>
  <h2>Reset Your Password at The Weather Scout</h2>
  <p>You can reset your password by visiting the url below:</p>
  <br>
  <p><%= @url %></p>
  <br>
  <p>If you didn't request this change, please ignore this.</p>
</div>
